.HeaderPG1 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 199, 247);
  box-shadow: 2px 2px 5px rgb(84, 96, 130);
  height: 70px;
  transition: 0.2s;
  margin-bottom: 5px;
}

@media (max-width: 400px) {
  .HeaderPG1 {
    font-size: small;
  }
}
