.MainPG1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px 30px 30px;
  background-color: black;
  min-height: calc(100vh - 265px);
}

.info {
  color: white;
  background-color: black;
  padding: 10px;
  text-align: center;
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
}

Form > input {
  height: 2rem;
  border: 2px solid gray;
  border-radius: 20px;
  padding-left: 10px;
}

.Bus {
  display: inline-block;
  position: relative;
  left: 28px;
  top: 70px;
  height: 100px;
  width: 50px;
  background-color: rgb(255, 21, 0);
  border: 2px solid black;
  box-shadow: 0 0 20px gray;
  font-size: small;
  text-align: center;
  /* vertical-align: middle; */
  /* padding-top: 40px; */
  /* background-image: url("../Images/bus.png");
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background: transparent; */
}

.BusImg {
  background: transparent;
}

.Map {
  height: 300px;
  width: 300px;
  margin: 30px;
  background-color: rgb(212, 255, 193);
  border: 2px solid black;
  box-shadow: 0 0 20px gray;
  border-radius: 150px;
  background-image: url("../Images/mapImage.PNG");
}

.button {
  display: inline-block;
  margin-top: 30px;
  height: 75px;
  width: 250px;
  border-radius: 20px;
  transition: 0.5s;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid black;
  color: white;
  position: relative;
  background-color: rgb(25, 136, 241);
}

.button:active {
  /* top: 0.1em; */
  zoom: 0.9;
}
.button:hover {
  background-color: rgb(45, 151, 250);
}

.busbox {
  text-align: unset;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 150px;
  box-shadow: 0 0 10px lightgray;
  background-image: url("../Images/road2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 30px 0;
}

.sunImage {
  height: 50px;
  position: relative;
  /* top: 50px; */
  border-radius: 25px;
  z-index: 5;
  border: 1px solid yellow;
}

.sunBox {
  /* transform: rotate(90deg); */
  display: inline-block;
  /* margin: auto; */
  position: relative;
  right: 25px;
  top: 0;
  /* border: 1px solid black; */
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent calc(50% - 0.2px),
    rgb(255, 234, 1) calc(50% - 0.1px),
    transparent calc(50% + 0.2px),
    transparent 100%
  );
}

.East {
  position: relative;
  top: 0;
}
.West {
  position: relative;
  bottom: 0;
}

@media (max-width: 400) {
  .busbox {
    margin-top: 20px;
  }
}
